/* Header styles */
.header {
  display: flex;
  align-items: center; 
  height: fit-content; 
  width: 100%; 
  margin-bottom: 5vh;
  border-bottom: 2px solid #005477;
  padding: 0 2rem; 
  box-sizing: border-box; 
  position: relative;
  overflow: hidden;
  background-color: #fff; 
}

/* Logo styles */
.logo {
  height: 100%; 
  width: 12vw; 
  object-fit: contain; 
  cursor: pointer;
}

/* Links */
.nav-links-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem; 
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem; 
}

ul li a {
  text-decoration: none;
  color: #333; 
  font-size: 1rem; 
  font-weight: 500; 
  text-transform: uppercase;
  padding: 0.5rem 1rem; 
  transition: color 0.3s ease, transform 0.3s ease; 
  border-radius: 5px; 
}

ul li a:hover {
  color: #005477; 
  background-color: rgba(0, 85, 119, 0.1); 
  transform: translateY(-3px); 
}

.login-link {
  font-weight: bold;
  text-decoration: none;
  color: #005477; 
  position: absolute;
  bottom: 10%; 
  right: 2rem; 
  transition: color 0.3s, text-decoration 0.3s;
  white-space: nowrap; 
}

.login-link:hover {
  text-decoration: underline;
  color: #004466; 
}

/* Admin dropdown */
.header .nav-links-container .logged-in-side-nav-links .dropdown {
  position: relative;
}

.header .nav-links-container .logged-in-side-nav-links .dropdown .admin-link {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header .nav-links-container .logged-in-side-nav-links .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1050; 
}

.header .nav-links-container .logged-in-side-nav-links .dropdown:hover .dropdown-menu {
  display: block;
  padding: 0.5vw;
}

.header .nav-links-container .logged-in-side-nav-links .dropdown .dropdown-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .nav-links-container .logged-in-side-nav-links .dropdown .dropdown-menu li a {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.header .nav-links-container .logged-in-side-nav-links .dropdown .dropdown-menu li a:hover {
  background-color: #f0f0f0;
}
