<div class="document-details-container">
    <div class="top-bar">
        <div class="document-links">
            <h2 *ngIf="classDetails" (click)="navigateToClass(classDetails._id)">
                {{ classDetails.subject }} Year {{ classDetails.year }}: Set {{ classDetails.set }}
            </h2>
            <h3 (click)="navigateToAssignments(classDetails._id)">Assignments</h3>
            <h3 (click)="navigateToExams(classDetails._id)">Exams</h3>
        </div>
        <div class="row">
            <div class="document-report-button">
                <button (click)="generatePDF()">Generate PDF Report</button>
            </div>
            <div class="document-search-container">
                <img src="assets/img/seachIcon.png" alt="Search Icon" class="document-search-icon">
                <input type="text" class="document-search-input" placeholder="Search: Student Name..."
                    (input)="filterStudents($event)">
            </div>
        </div>
    </div>

    <div class="document-content">
        <div class="charts-container">
            <div class="charts-row">
                <div class="chart" id="chartContainer">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 25vw; height: 20vw; display: block;">
                    </highcharts-chart>
                </div>
                <div class="chart" id="gradeChartContainer">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="gradeChartOptions"
                        style="width: 25vw; height: 20vw; display: block;">
                    </highcharts-chart>
                </div>
            </div>

            <div class="charts-row">
                <div class="chart" id="genderChartContainer">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="genderChartOptions"
                        style="width: 25vw; height: 20vw; display: block;">
                    </highcharts-chart>
                </div>
                <div class="chart" id="submissionRateChartContainer">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="submissionRateChartOptions"
                        style="width: 25vw; height: 20vw; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>

        <div class="document-student-list">
            <div *ngFor="let student of filteredStudents" class="document-student-item">
                <img src="assets/img/accountIcon.png" alt="Account Icon" class="document-student-icon">
                {{ student.first_name }} {{ student.last_name }}
            </div>
        </div>
    </div>
</div>