/* Marks & Charts */
.marks-and-details-container {
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
}

.marks-chart-container {
    width: 70%;
    margin-right: 2vw;
}

.grades-container {
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
    width: 100%; 
}

.grades-chart-container {
    width: fit-content; 
    margin-right: 2vw;
}

.target-grade-chart-container {
    flex-grow: 1;
    display: flex;
}

.row{
    gap: 1vw;
    align-items: center;
}
