<div class="document-details-container">
    <div class="top-bar">
        <div class="row">
            <div class="document-links">
                <h2>Students:</h2>
            </div>
            <div class="document-links-2">
                <h2>&nbsp;{{ studentDetails.first_name }} {{ studentDetails.last_name }}: Edit Student</h2>
            </div>
        </div>
        <div class="document-edit-button">
            <button (click)="save()">Save</button>
        </div>
    </div>
    <div class="add-student-container">
        <div class="add-student-content">
            <div class="student-details-container">
                <h2>Student Details</h2>

                <div class="form-group">
                    <h3>First Name</h3>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="student.firstName">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <h3>Last Name</h3>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="student.lastName">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <h3>Gender</h3>
                    <mat-form-field appearance="outline">
                        <mat-label>Gender</mat-label>
                        <input matInput [formControl]="genderControl" [matAutocomplete]="autoGender"
                            (blur)="clearIfNotValid(genderControl, genders)" />
                        <mat-autocomplete #autoGender="matAutocomplete">
                            <mat-option *ngFor="let gender of genders" [value]="gender">
                                {{ gender }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <h3>Year</h3>
                    <mat-form-field appearance="outline">
                        <mat-label>Year</mat-label>
                        <input matInput [formControl]="yearControl" [matAutocomplete]="autoYear"
                            (blur)="clearIfNotValid(yearControl, years)" />
                        <mat-autocomplete #autoYear="matAutocomplete">
                            <mat-option *ngFor="let year of years" [value]="year">
                                {{ year }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <h3>Set</h3>
                    <mat-form-field appearance="outline">
                        <mat-label>Set</mat-label>
                        <input matInput [formControl]="setControl" [matAutocomplete]="autoSet"
                            (blur)="clearIfNotValid(setControl, sets)" />
                        <mat-autocomplete #autoSet="matAutocomplete">
                            <mat-option *ngFor="let set of sets" [value]="set">
                                {{ set }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <div class="subject-details-container">
                <h2>Classes:</h2>
                <div class="subjects">
                    <div class="subject-column">
                        <div *ngFor="let subject of subjects.slice(0, 5)" class="subject-form-group">
                            <h3>{{ subject }}</h3>
                            <mat-form-field appearance="outline">
                                <mat-label>{{ subject }} Teacher</mat-label>
                                <mat-select [formControl]="teacherControls[subject]">
                                    <mat-option *ngFor="let teacher of teachersMap[subject]" [value]="teacher.class_id">
                                        {{ teacher.name }} - Year {{ teacher.year }}: Set {{ teacher.set }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>{{ subject }} Target Grade</mat-label>
                                <mat-select [formControl]="targetGradeControls[subject]">
                                    <mat-option *ngFor="let grade of grades" [value]="grade">
                                        {{ grade }}
                                    </mat-option>
                                </mat-select>                                
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="subject-column">
                        <div *ngFor="let subject of subjects.slice(5)" class="subject-form-group">
                            <h3>{{ subject }}</h3>

                            <mat-form-field appearance="outline">
                                <mat-label>{{ subject }} Teacher</mat-label>
                                <mat-select [formControl]="teacherControls[subject]">
                                    <mat-option *ngFor="let teacher of teachersMap[subject]" [value]="teacher.class_id">
                                        {{ teacher.name }} - Year {{ teacher.year }}: Set {{ teacher.set }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>{{ subject }} Target Grade</mat-label>
                                <mat-select [formControl]="targetGradeControls[subject]">
                                    <mat-option *ngFor="let grade of grades" [value]="grade">
                                        {{ grade }}
                                    </mat-option>
                                </mat-select>                                
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
