.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3.35vw;
    margin-bottom: 0.9vw;
}

.username-container, .password-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vw;
}

h2{
    color: #005477;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0.88vw;
    border-bottom: 2px solid #005477;
}

label{
    color: #5CB8FF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.9vw;
}

input{
    width: 16.5vw;  
    height: 1vw; 
    border-radius: 50px;  
    border: 1px solid #000000;  
    padding: 10px;  
    font-size: 16px;  
    transition: all 0.3s ease; 
    text-align: center; 
}

.missing-error{
    margin-top: 0.9vw;
}

/* Button styles */
button {
    width: 10vw;  
    font-size: 16px;  
    border: none;  
    cursor: pointer;  
    transition: all 0.3s ease;  
}

button:hover {
    background-color: #00405d;  
    transform: scale(1.05); 
}

button:disabled {
    background-color: #cfcfcf;  
    cursor: not-allowed; 
}

.sign-up-link{
    font-weight: bold;
    font-size: 16px;
    color: #5CB8FF;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
.sign-up-link:hover {
    color: #00405d; 
    transform: scale(1.05);  
  }

.error{
    margin-bottom: 0.9vw;
}