<div class="class-container">
  <div class="top-bar">
    <div class="document-links">
      <h2 *ngIf="classDetails" (click)="navigateToClass(classDetails._id)">
        {{ classDetails.subject }} Year {{ classDetails.year }}: Set {{ classDetails.set }}
      </h2>
      <h3 (click)="navigateToAssignments(classDetails._id)">Assignments</h3>
      <h3 class="active-header" (click)="navigateToExams(classDetails._id)">Exams</h3>
    </div>
    <div class="row">
      <button class="add-document-btn" (click) ="navigateToAddExam()">
        <img src="assets/img/addIcon.png" alt="Add Icon" class="add-icon">
        Add Exam
      </button>
      <div class="search-container">
        <img src="assets/img/seachIcon.png" alt="Search Icon" class="search-icon">
        <input type="text" class="search-input" placeholder="Search: Exam Title..." (input)="filterExams($event)">
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="title-column">Title</th>
          <th>Class</th>
          <th>Due Date</th>
          <th>Handed In</th>
          <th>Awaiting</th>
        </tr>
      </thead>
      <tbody *ngIf="classDetails?.exams?.length > 0">
        <tr class="row-item" *ngFor="let exam of filteredExams" [ngClass]="{'inactive-item': isPastDue(exam.due_date)}"
          (click)="navigateToExamDetails(exam._id, classDetails.year, classDetails.set)">
            >
          <td>{{ exam.title }}</td>
          <td>{{ classDetails.subject }}: {{ classDetails.year }}: Set {{ classDetails.set | uppercase }}</td>
          <td>{{ exam.due_date | date: 'dd/MM/yy' }}</td>
          <td>{{ exam.results.length }} / {{ classDetails.students.length }}</td>
          <td>{{ classDetails.students.length - exam.results.length }} / {{ classDetails.students.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>