<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Parisienne&family=Style+Script&display=swap"
  rel="stylesheet">

<app-header></app-header>
<div class="content">
  <div class="content-container">
    <app-popup-notification></app-popup-notification>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>