.home-container {
  margin: 0px 2vw;
}

.class-stats-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
  gap: 5vw;
  align-items: center;
}

.my-classes-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}

.header {
  border-bottom: 2px solid #ddd;
  padding-bottom: 1vw;
}

.class-container {
  position: relative;
  background-color: white;
  border: 2px solid #5CB8FF;
  border-radius: 8px;
  width: 12vw;
  height: 8vw;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.class-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.arrows-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-container {
  width: 2.5vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.arrow-container.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.arrow-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.class-value {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #005477;
  margin: 0;
  text-align: center;
}

h2 {
  color: #5CB8FF;
}

h3 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.assignments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.assignments-table th,
.assignments-table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.assignments-table th {
  background-color: #f4f4f4;
}

.assignments-table tr:hover {
  background-color: #f1f1f1;
}

.assignment:hover {
  text-decoration: underline;
}

.assignment-title-label {
  width: 30vw;
}

.assignments-table th:not(.assignment-title-label) {
  width: auto;
  padding-right: 2vw;
}

.assignments-table td {
  padding-right: 1vw;
}

.assignments-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.assignments-table tr:last-child td {
  border-bottom: none;
}